  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<style>
    .search-box {
  position: relative;
}

.search-box input[type="text"] {
  width: 250px;
  padding: 5px 10px;
  border: 2px solid #ececec;
  border-radius: 20px;
  outline: none;
  color: #333;
}

.search-box input[type="text"]::placeholder {
  color: #999;
}

.search-box button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
   {{!-- background-color: #fff;  --}}
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.search-box button i {
  color: #333;
}

.search-box button:hover {
  background-color: #eeeded;
}
</style>
    <body>

     <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            {{!-- <li class="active"><a href="/">Home</a></li> --}}
                            {{!-- <li><a href="logout">Women’s</a></li>
                            <li><a href="#">Men’s</a></li> --}}
                            <li><a href="/shop">Shop</a></li>
                           
                            <li>
        {{!-- <form class="d-flex ms-auto" method="post" action="">
        <div class="input-group pt-2">
          <input type="text" class="form-control  bg-white" name="keyword" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <button type="submit" class="btn btn-outline-light data-mdb-ripple-init">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form> --}}
      {{!-- <form class="d-flex ms-auto" id="searchForm">
    <div class="input-group pt-2">
        <input type="text" class="form-control bg-white" id="searchInput" name="keyword" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-light data-mdb-ripple-init">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form> --}}
<form id="searchForm"class="search-box" action="/shop" method="GET">
  <input type="text" id="searchInput" name="keyword" placeholder="Search products...">
  <button type="submit"><span class="icon_search search-switch"></span></button>
</form>
 {{!-- <div class="search-box">
    <button type="submit"><i class="fa fa-search"></i></button>
      <input type="text" placeholder="Search for products..." />
      
    </div> --}}

<div id="searchResults"></div> 
                            </li>
                             <li><a href="#">Account</a>
                                <ul class="dropdown">
                                     <li><a href="/">My Profile</a></li> 
                                         <li><a href="/orders">Orders</a></li>
                                    <li><a href="/wishlist">wishlist</a></li>
                                
                                    <li><a href="/mycoupons">Coupons</a></li>
                                    <li><a href="/logout">logout</a></li>
                                </ul>
                            </li>
                            {{!-- <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li> --}}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="/login">Login</a>
                            <a href="/register">Register </a>
                        </div>
                        <ul class="header__right__widget">
                         
                            <li><a href="/wishlist"><span class="icon_heart_alt"></span>
                            {{#if wishlistCount}}
                                <div class="tip">{{wishlistCount}}</div>
                                {{/if}}
                            </a></li>
                            <li><a href="/cart"><span class="icon_bag_alt"></span>
                            {{#if cartCount}}
                                <div class="tip">{{cartCount}}</div>
                                {{/if}}
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
</body> 
<script>
$(document).ready(function() {
    $('#searchForm').submit(function(event) {
        event.preventDefault();  // Prevent the form from submitting via the browser

        let keyword = $('#searchInput').val();

        $.ajax({
            url: '/search',  // The backend route
            method: 'GET',   // Use GET request
            data: { keyword: keyword },  // Send the keyword as a query parameter
            success: function(data) {
                window.location.href='/shop?keyword=' + keyword;
                // Clear previous results
               // $('#searchResults').empty();
            },

          error: function(err) {
        console.error("Error searching products:", err);
      }
    });
  });
});
</script>